{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <div class="media">
            <img src="{{ image_file }}" alt="" class="align-self-end mr-3 rounded-circle account-img">
            <div class="media-body">
                <h2 class="mt-0 account-heading">{{ current_user.username }}</h2>
                <p class="mb-0 text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!-- FORM HERE -->
    </div>
{% endblock content %}